<a href="https://colab.research.google.com/github/sylviawanjiku/datascienceMS/blob/main/DataCleaningDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read Data

In [162]:
import pandas as pd

In [163]:
data = pd.read_csv('ds_part-time_14thJune2021.txt',error_bad_lines=False,sep='\t',header=None,names=["Time", "Users", "Details"])
type(data)
data.head(5)

       Time  ...                                         Details
0  00:31:55  ...                 Love all the quotes coming in!
1  00:34:20  ...  What about NoSQL now integral to Data Science?
2  00:36:10  ...                 Kindly increase your mic volume
3  00:36:37  ...                                             yes
4  00:36:39  ...                                             yes

[5 rows x 3 columns]

Drop NULL rows

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     91 non-null     object
 1   Users    86 non-null     object
 2   Details  86 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

In [165]:
data=data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 0 to 90
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     86 non-null     object
 1   Users    86 non-null     object
 2   Details  86 non-null     object
dtypes: object(3)
memory usage: 2.7+ KB

In [166]:
drop_list = ['Time','Users']
df = data.drop(columns=drop_list)
df

                                           Details
0                  Love all the quotes coming in!
1   What about NoSQL now integral to Data Science?
2                  Kindly increase your mic volume
3                                              yes
4                                              yes
..                                             ...
86                                   thanks @sarah
87                 Thank you Kevin, Sasha and Mark
88                                             Bye
89                        Thank you, this was nice
90             Thank you and have a great evening!

[86 rows x 1 columns]

In [167]:
#Remove @user
def remove_users(conversation,pattern1,pattern2):
  r = re.findall(pattern1, conversation)
  for i in r:
      conversation = re.sub(i, '', conversation)

  r = re.findall(pattern2, conversation)
  for i in r:
      conversation = re.sub(i, '', conversation)
  return conversation

In [168]:
convo = df['Details']
convo

0                    Love all the quotes coming in!
1     What about NoSQL now integral to Data Science?
2                    Kindly increase your mic volume
3                                                yes
4                                                yes
                           ...
86                                     thanks @sarah
87                   Thank you Kevin, Sasha and Mark
88                                               Bye
89                          Thank you, this was nice
90               Thank you and have a great evening!
Name: Details, Length: 86, dtype: object

In [169]:
import numpy as np
import re

df['convo_text']= np.vectorize(remove_users)(convo,"@[\w]*", "@[\w]*")
df['convo_text'].head(20)
df

                                           Details                                      convo_text
0                  Love all the quotes coming in!                  Love all the quotes coming in!
1   What about NoSQL now integral to Data Science?  What about NoSQL now integral to Data Science?
2                  Kindly increase your mic volume                 Kindly increase your mic volume
3                                              yes                                             yes
4                                              yes                                             yes
..                                             ...                                             ...
86                                   thanks @sarah                                         thanks
87                 Thank you Kevin, Sasha and Mark                 Thank you Kevin, Sasha and Mark
88                                             Bye                                             Bye
89                        Thank you, this was nice                        Thank you, this was nice
90             Thank you and have a great evening!             Thank you and have a great evening!

[86 rows x 2 columns]

In [170]:
# NORMALIZATION - converts all convo into lowercase
df['convo_text'] = df['convo_text'].str.lower()
df['convo_text']

0                    love all the quotes coming in!
1     what about nosql now integral to data science?
2                    kindly increase your mic volume
3                                                yes
4                                                yes
                           ...
86                                           thanks
87                   thank you kevin, sasha and mark
88                                               bye
89                          thank you, this was nice
90               thank you and have a great evening!
Name: convo_text, Length: 86, dtype: object

Check for questions in dataset

In [171]:
no_of_questions = df.apply(lambda x: x.str.contains('\?')).sum()
no_of_questions

Details       15
convo_text    15
dtype: int64

In [172]:
questions_list = []
questions_list += [x for x in df['convo_text'] if '?' in x]
questions_list

['what about nosql now integral to data science?',
 'does the program cater to international students since part of the learning happens in person?',
 'what if am not able to attend the saturday classes?',
 'are there ips as in sw development?',
 ', what are ips ?',
 'do you bring in industry mentors at moringa?',
 'how will it be starting from scratch?',
 'does one need to have a background in coding?',
 'what about business intelligence analyst?',
 'python or r? why do different organisation prefer one or the other? will we use tableau or bl?',
 'can one attending a full time prep course enroll in the part time core course?',
 'currently working in \\monitoring and \\evaluation how will this cause improve my skills?',
 "do you recommend certain minimum specs in a student's laptop to be used in the learning?",
 'mark can i use anaconda instead of colab?',
 "when's the next prep?"]

In [173]:
len(questions_list)

15

In [174]:
questions_df = pd.DataFrame (questions_list,columns=['Questions'])
questions_df

                                            Questions
0      what about nosql now integral to data science?
1   does the program cater to international studen...
2   what if am not able to attend the saturday cla...
3                 are there ips as in sw development?
4                                    , what are ips ?
5        do you bring in industry mentors at moringa?
6               how will it be starting from scratch?
7       does one need to have a background in coding?
8           what about business intelligence analyst?
9   python or r? why do different organisation pre...
10  can one attending a full time prep course enro...
11  currently working in \monitoring and \evaluati...
12  do you recommend certain minimum specs in a st...
13          mark can i use anaconda instead of colab?
14                              when's the next prep?

In [175]:
answers_list = []
answers_list += [x for x in df['convo_text'] if '?' not in x]
answers_list

['love all the quotes coming in! ',
 'kindly increase your mic volume',
 'yes',
 'yes',
 '',
 'drop all your questions here, we will do our best to answer them',
 '',
 ' the saturday classes are optional....if you cant attend physically you can join virtually.',
 'can the full time online students join in the saturday on campus session',
 ' - thanks',
 'saturday is not possible for me, both virtual or physically. thanks',
 ' the course caters for international students and we currently have international students in our full-time program. one can opt for virtual or physical on saturday',
 'noted, thank you.',
 ' that is okay ‚Ä¶.as long as you cover 15 hours of learning and submit your coursework on time. saturday is optional. ',
 'thanks for thatüëç',
 " that's a good question. kevin will address it shortly. ",
 ' yes there are ips',
 'alright mark',
 'to answer your question  unfortunately, the saturday classes are only open for part time students.',
 ' christine: unfortunately, no. the saturday classes are only open for part-time-data science students because we need to maintain out teacher (tm) to student ratios',
 'ip stands for independent project where you have a stand alone project based on what you have learnt over the week  d o',
 ': ip are independent projects that students work on to apply their skills',
 ' yes we do.... we invite thought leaders every thursday for speaker sessions and we run lots of other professional development workshops with our students.',
 ' oppo 2, yes, from core, we‚Äôll have mentoring fridays where an industry mentor comes to moringa to deliver a ‚Äúted talk‚Äù kind of presentation to expose students in the data science field.',
 ' emmanuel: it would be difficult at start, just like it is when you‚Äôre learning any new skill. although if you have a growth mindset, and you‚Äôre willing to put the 15 hours per week to learn, practice and apply your skills, you‚Äôll crush the program',
 'crisp-dm stands for ‚Äúcross-industry process for data mining‚Äù. the crisp-dm methodology provides a structured approach to planning a data mining project. it is a robust and well-proven methodology. ... the model does not try to capture all possible routes through the data mining process.',
 ', we are in the same boat',
 'that‚Äôs encouraging ‚Ä¶ hahaha.',
 'no need to panic  ‚Ä¶. you will get support in your learning journey... from content, skills training to technical mentorship',
 'mark or kevin kindly bring out the difference between data science and data engineer.',
 'to add to oppo2 question',
 'analytical engineer',
 'came across this the other day',
 ' 2: this link should help you:https://www.coursereport.com/blog/data-engineering-vs-data-science-vs-machine-learning-engineering-with-springboard',
 'thank you',
 '2021 kevin hahaha',
 '',
 'thank you for the presentation.',
 'you will learn tableau',
 ', thank you',
 '*15th august 2021',
 ' and kevin, this is great also think of adding big data in machine learning that touches on pig,spark,zookeeper and bayesian reasoning.',
 'most welcome ',
 'you should also do part-time for software development class :-)',
 'i thought leap belongs to uk residents...just a quick question',
 "it's in the works .... very soon",
 'is there a payment plan for prep or we pay once',
 'kindly share recording with us after its done,maybe issue was my earpiece',
 'yes shawn, will send a link to the recording tomorrow via email you used to rsvp to this event.',
 'thank you :)',
 'that was quite comprehensive ‚Ä¶ thanks ‚Ä¶',
 'feel free to test out the data science assessment test here:- https://moringaschool.com/courses/data-science-course ',
 'natural disasters',
 'course*',
 "don't worry about how you will manage to pay the fees, we have a financial aid program that aims to support all interested students. financial constraints should not be a hindrance to your studies. learn more here:- https://moringaschool.com/financial-aid ",
 'thanks',
 'nice questions guys..... feel free to type them here or unmute to ask... ',
 'great insights ',
 ' core i5 - i7, 500gb memory, 8gb ram at the minimum',
 'very helpful session.',
 "i have really enjoyed today's session. i have learnt a lot as well. thanks mark and wakuze!",
 'thanks  nancy',
 'thank you all for taking us through th√© programme',
 'to all students make use of kaggle, zindi websites. thank me later',
 '',
 'thanks mark and kevin. the session was  great. i really learned alot.',
 'thanks ',
 'thank you kevin, sasha and mark',
 'bye',
 'thank you, this was nice',
 'thank you and have a great evening!']

In [176]:
len(answers_list)

71

In [177]:
answers_df = pd.DataFrame(answers_list)
answers_df

                                      0
0       love all the quotes coming in!
1       kindly increase your mic volume
2                                   yes
3                                   yes
4
..                                  ...
66                              thanks
67      thank you kevin, sasha and mark
68                                  bye
69             thank you, this was nice
70  thank you and have a great evening!

[71 rows x 1 columns]

Convert list to dataframe