<a href="https://colab.research.google.com/github/sylviawanjiku/datascienceMS/blob/main/Python_Notebook_Solution_Moringa_Data_Science_Prep_W3_Independent_Project_2019_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa Data Science Prep Independent Project: Week 3

**Question**

Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

Questions for consideration:

* Which cities were the most used city for the three days?
* Which cities were the most used during business and home hours?

**Datasets Provided**

* cells_geo_description.xlsx [https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing]
* cells_geo.csv [https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing]
* CDR_description.xlsx [https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD]
* CDR 20120507 [http://bit.ly/TelecomDataset1]
* CDR 20120508 [http://bit.ly/TelecomDataset2]
* CDR 20120509 [http://bit.ly/TelecomDataset3]

### Importing our Libraries

In [ ]:
# Importing our required libraries
# ---
# 
import pandas as pd
import numpy as np

### Loading our Datasets

In [ ]:
# Dataset 1
# ---
# Loading dataset 1 
# ---
# 
df = pd.read_csv('http://bit.ly/TelecomDataset1')
df.head()

KeyboardInterrupt: ignored

In [ ]:
# Dataset 2
# ---
# Loading dataset 2
# ---
#  
df2 = pd.read_csv('http://bit.ly/TelecomDataset2')
df2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [ ]:
# Dataset 3
# ---
# Loading dataset 3
# ---
#  
df3 = pd.read_csv('http://bit.ly/TelecomDataset3')  
df3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [ ]:
# Dataset 4
# ---
# Loading dataset 3: Cells Geo dataset
# ---
#   
cells_geo = pd.read_csv('cells_geo.csv', header = 0, index_col=0, delimiter=';')
cells_geo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

### Exploration

In [ ]:
# Dataset 1
# ---
# Checking the information for dataset 1
# ---
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15011816 entries, 0 to 15011815
Data columns (total 10 columns):
PRODUTC            object
VALUE              int64
DATETIME           object
CELL_ON_SITE       object
DW_A_NUMBER_INT    object
DW_B_NUMBER_INT    object
COUNTRY_A          object
COUNTRY_B          object
CELL_ID            object
SITE_ID            object
dtypes: int64(1), object(9)
memory usage: 1.1+ GB

In [ ]:
# Dataset 2
# ---
# Checking the information for dataset 2
# ---
# 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19606112 entries, 0 to 19606111
Data columns (total 10 columns):
PRODUCT         object
VALUE           int64
DATE_TIME       object
CELL_ON_SITE    object
DW_A_NUMBER     object
DW_B_NUMBER     object
COUNTRY_A       object
COUNTRY_B       object
CELL_ID         object
SITE_ID         object
dtypes: int64(1), object(9)
memory usage: 1.5+ GB

In [ ]:
# Dataset 3
# ---
# Checking the information for dataset 2
# ---
#  
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14834801 entries, 0 to 14834800
Data columns (total 10 columns):
PRODUCT            object
VALUE              int64
DATE_TIME          object
CELL_ON_SITE       object
DW_A_NUMBER_INT    object
DW_B_NUMBER_INT    object
COUNTRY_A          object
COUNTRY_B          object
CELLID             object
SIET_ID            object
dtypes: int64(1), object(9)
memory usage: 1.1+ GB

In [ ]:
# Dataset 4
# ---
# Checking the information for dataset 2
# ---
#  
cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 3973
Data columns (total 11 columns):
VILLES          3974 non-null object
STATUS          3907 non-null object
LOCALISATION    3974 non-null object
DECOUPZONE      3974 non-null object
ZONENAME        3968 non-null object
LONGITUDE       3974 non-null float64
LATITUDE        3974 non-null float64
REGION          3974 non-null object
AREA            3951 non-null object
CELL_ID         3974 non-null object
SITE_CODE       3974 non-null object
dtypes: float64(2), object(9)
memory usage: 372.6+ KB

### Data Cleaning

In [ ]:
# Dataset 1
# ---
# -> Changing columns to lowercase
# -> Renaming column names 
# ---
# 
df.columns = map(str.lower, df.columns)
columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 
           'country_a', 'country_b', 'cell_id', 'site_id']
df.columns = columns
df.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [ ]:
# Dataset 2
# ---
# -> Changing columns to lowercase
# -> Renaming column names
# ---
# 
df2.columns = map(str.lower, df.columns)
columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 
           'country_a', 'country_b', 'cell_id', 'site_id']
df2.columns = columns
df2.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [ ]:
# Dataset 3
# ---
# -> Changing columns to lowercase
# -> Renaming column names
# ---
# 
df3.columns = map(str.lower, df.columns)
columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 'country_a', 
           'country_b', 'cell_id', 'site_id']
df3.columns = columns
df3.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [ ]:
# Dataset 4
# ---
# -> Changing columns to lowercase
# ---
# 
cells_geo.columns = map(str.lower, cells_geo.columns)
cells_geo.columns

Index(['villes', 'status', 'localisation', 'decoupzone', 'zonename',
       'longitude', 'latitude', 'region', 'area', 'cell_id', 'site_code'],
      dtype='object')

In [ ]:
# Merging: Dataset 1 and 4
# ---
# -> Merging dataset 1 with dataset 4
# -> Previewing the resulting dataset
# ---
# 
df1_merged = df.merge(cells_geo, how='inner', on='cell_id')
df1_merged.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 20 columns]

In [ ]:
# Checking the shape of the new dataset
# ---
# 
df1_merged.shape

(176, 20)

In [ ]:
# Merging: Dataset 2 and 4
# ---
# -> Merging dataset 2 with dataset 4
# -> Previewing the resulting dataset
# ---
# 
df2_merged = df2.merge(cells_geo, how='inner', on='cell_id')
df2_merged.head()

  product  value  ...           area   site_code
0   Voice      0  ...     SOUTH WEST  78d279198d
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
3   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
4   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032

[5 rows x 20 columns]

In [ ]:
# Checking the shape of the new dataset
# ---
# 
df2_merged.shape

(101, 20)

In [ ]:
# Merging: Dataset 3 and 4
# ---
# -> Merging dataset 3 with dataset 4
# -> Previewing the resulting dataset
# ---
# 
df3_merged = df3.merge(cells_geo, how='inner', on='cell_id')
df3_merged.head()

  product  value  ...           area   site_code
0   Voice      0  ...  ABIDJAN NORTH  5818d7383c
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
3   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
4   Voice      0  ...  ABIDJAN NORTH  a55150a8e7

[5 rows x 20 columns]

In [ ]:
# Checking the shape of the new dataset
# ---
# 
df3_merged.shape

(99, 20)

In [ ]:
# Combining all three resulting datasets
# ---
# 
combined = pd.concat([df1_merged, df2_merged, df3_merged], ignore_index=False)

In [ ]:
# Previewing the combined dataframe
# 
combined.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 20 columns]

In [ ]:
# Checking the shape of the new dataset
# ---
# 
combined.shape

(376, 20)

In [ ]:
# Dropping the irrelevant columns
# ---
# 
combined.drop(['country_a', 'country_b', 'cell_on_site'], axis = 1, inplace = True)
combined.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 17 columns]

In [ ]:
# Checking for null values
# ---
# 
combined.isnull().sum()

product              0
value                0
datetime             0
dw_a_number_int      0
dw_b_number_int      0
cell_id              0
site_id            376
villes               0
status               1
localisation         0
decoupzone           0
zonename             0
longitude            0
latitude             0
region               0
area                 0
site_code            0
dtype: int64

In [ ]:
# Dropping the site_id column: There were many missing values
# ---
# 
combined.drop('site_id', axis = 1, inplace = True)

In [ ]:
# Impute missing column with median values
# ---
# 
combined.fillna(np.median, inplace = True)

In [ ]:
# Checking for null values
# ---
# 
combined.isnull().sum()

product            0
value              0
datetime           0
dw_a_number_int    0
dw_b_number_int    0
cell_id            0
villes             0
status             0
localisation       0
decoupzone         0
zonename           0
longitude          0
latitude           0
region             0
area               0
site_code          0
dtype: int64

In [ ]:
# Changing the datetime column to datetime type
# ---
# 
combined.datetime = pd.to_datetime(combined.datetime)

In [ ]:
# Splitting the datetime to date and time
# ---
# 
combined['date'] = [d.date() for d in combined.datetime]
combined['time'] = [d.time() for d in combined.datetime]
combined['date'] = pd.to_datetime(combined['date'])
combined['time'] = pd.to_datetime(combined['time'], format='%H:%M:%S:%f', errors = 'ignore')

In [ ]:
# Checking whether the changes have been made
# ---
# 
combined.dtypes

product                    object
value                       int64
datetime           datetime64[ns]
dw_a_number_int            object
dw_b_number_int            object
cell_id                    object
villes                     object
status                     object
localisation               object
decoupzone                 object
zonename                   object
longitude                 float64
latitude                  float64
region                     object
area                       object
site_code                  object
date               datetime64[ns]
time                       object
dtype: object

### Performing Data Analysis

In [ ]:
# Question 1: Which cities were used most during business hours from 9 am to 5 pm?
# ---
# 

# First, finding the cities which were used most for the three days
# 
combined.groupby(['date', 'villes']).size()

# Importing datetime library
# ---
# 
import datetime

# Cities used most during business hours from 9 am to 5 pm
# ---
# 
business_hours = combined[(combined.datetime.dt.time >= datetime.time(9)) & (combined.datetime.dt.time <= datetime.time(17))]

# Sorting our cities
# ---
#
business_hours.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          93
MARCORY         32
TREICHVILLE     20
YAMOUSSOUKRO    18
PORT-BOUET      17
ABOBO           15
TIASSALE        15
KOUMASSI        13
ADJAME           6
YOPOUGON         5
SOUBRE           5
PLATEAU          4
ATTECOUBE        4
SAN-PEDRO        3
SONGON           3
BINGERVILLE      3
TANDA            1
TIEBISSOU        1
TOUMODI          1
ABENGOUROU       1
Name: villes, dtype: int64

In [ ]:
# Question 2: Which cities were used most during home hours from 5 pm to 9 am?
# ---
# 
home_hours = combined[~ ((combined.datetime.dt.time >= datetime.time(9)) & (combined.datetime.dt.time <= datetime.time(17)))]
home_hours.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          35
MARCORY         12
TIASSALE        11
ABOBO           10
YAMOUSSOUKRO     9
PLATEAU          7
PORT-BOUET       7
TREICHVILLE      6
YOPOUGON         6
SOUBRE           3
TOUMODI          3
ADJAME           2
TANDA            1
TIEBISSOU        1
KOUMASSI         1
GAGNOA           1
ATTECOUBE        1
Name: villes, dtype: int64

In [ ]:
# Question 3: Which were the most used cities for the three days?
# ---
# 
combined.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          128
MARCORY          44
YAMOUSSOUKRO     27
TREICHVILLE      26
TIASSALE         26
ABOBO            25
PORT-BOUET       24
KOUMASSI         14
PLATEAU          11
YOPOUGON         11
SOUBRE            8
ADJAME            8
ATTECOUBE         5
TOUMODI           4
SAN-PEDRO         3
SONGON            3
BINGERVILLE       3
TANDA             2
TIEBISSOU         2
GAGNOA            1
ABENGOUROU        1
Name: villes, dtype: int64

In [ ]:
# Question 4: Which products were the most used for the three days?
# ---
# 
combined.groupby(['date', 'product'])['product'].count().sort_values(ascending = False)

date        product
2012-05-07  Voice      176
2012-05-08  Voice      101
2012-05-09  Voice       99
Name: product, dtype: int64

In [ ]:
# Question 5: Which regions which had the most used product and what product was it?
# ---
# 
combined.groupby(['region', 'product'])['product'].count().sort_values(ascending = False)

region         product
LAGUNE         Voice      328
LACS           Voice       33
BAS SASSANDRA  Voice       11
ZANZAN         Voice        2
MOYEN COMOE    Voice        1
FROMAGER       Voice        1
Name: product, dtype: int64

In [ ]:
# Question 6: Which area the used (the above product) the most used product the most?
# ---
# 
combined.groupby(['area', 'product'])['product'].count().sort_values(ascending = False)

area           product
ABIDJAN NORTH  Voice      183
ABIDJAN SOUTH  Voice      119
SOUTH WEST     Voice       38
CENTRE NORTH   Voice       33
EAST           Voice        3
Name: product, dtype: int64